<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<p>
  <strong>Body:</strong>
</p>
<pre><%= raw @email.body %></pre>

<p>
  <strong>Message id:</strong>
  <%= @email.message_id %>
</p>

<p>
  <strong>In reply to:</strong>
  <% if @email.email %>
    <%= link_to @email.in_reply_to, email_path(@email.email) %>
  <% else %>
    <%= @email.in_reply_to %>
  <% end %>
</p>

<p>
  <strong>References:</strong>
</p>
<ul>
  <% (@email.references || []).each do |reference| %>
    <% email_reference = @email
        .emails_references
        .to_a
        .find{|email| email.message_id == reference } %>

    <% if email_reference %>
      <li><%= link_to reference, email_path(email_reference) %></li>
    <% else %>
      <li><%= reference %></li>
    <% end %>
  <% end %>
</ul>

<p><strong>Attachments:</strong></p>
<% @email.attachments.each do |attachment| %>
  <div>
    <p><b>Filename:</b> <%= attachment.filename %></p>
    <p><b>Content type:</b> <%= attachment.content_type %></p>
    <% if attachment.representable? %>
      <p><b>Anexo:</b></p>
      <%= image_tag url_for(attachment), style: "max-width: 100%; max-height: 50vh;" %>
    <% end %>
    <p>
      <b>Download:</b>
      <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
    </p>
    <br>
  </div>
<% end %>

<details>
  <summary><strong>Email data:</strong></summary>
  <pre style="overflow: auto; max-height: 60vh;"><%= JSON.pretty_generate(@email.email_data) %></pre>
</details>

<%= link_to 'Reply', new_email_path(reply_to: @email.id) %> |
<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
